<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <div id="app">
        
        <header>
            <div class="titreJeu">
                <h2> DARKY DUNGEON </h2>
            </div>
            <div class="headerbtn">
                <div class="nouvellePartie">
                    <button class="btnNouvellePartie" v-on:click="nouvellePartie"> Nouvelle partie</button>
                </div>


                <button id="toggleButton" class="sacAffaires" v-on:click="affichageSac">Sac d'affaires</button>
                
                <div id="myDiv" class="sac" v-if="partieLancee" v-show="sacVisible">
                    <div class="item" v-if="potion"><img src="/images/potion.svg" alt="une potion de soin"></div>
                    <div class="item" v-if="lanterne"><img src="/images/lantern.svg" alt="une lanterne"></div>
                    <div class="item" v-if="corde"><img src="/images/corde.svg" alt="une corde"></div>
                </div>
            </div>


        </header>

        <nav>

            <div class="container">

                <div class="textAffiche">
                    <p>{{ html }}</p>
                </div>

            </div>

            <div class="infosCombat" v-if="modeCombat">
                <p v-html="htmlCombat"></p>
            </div>

            <div class="btns" v-if="partieLancee">
                <button v-if="modeCombat" type="submit" class="btnAttBase"
                    v-on:click="attaqueDeBase">attaque de base</button>

                <button v-if="modeCombat" type="submit" class="btnAttBouclier"
                    v-on:click="attaqueBouclier">coup du bouclier</button>

                <button v-if="!modeCombat && !modeChoix"  type="submit" class="btnPasseSalle" v-on:click="compteurSalle()">{{ passeSalle }}</button>
                <button v-if="!modeCombat && modeChoix" type="submit" class="btnPasseSalle" v-on:click="compteurSalle()"> {{ choix1 }} </button>
                <button v-if="!modeCombat && modeChoix" type="submit" class="btnPasseSalle" v-on:click="compteurSalleAlt()"> {{ choix2 }} </button>
            </div>

            <div class="pvRestants" v-if="partieLancee">
                <p>Points de vie restants : {{ pv }} PV</p>
            </div>
        </nav>



        <footer>

            <div class="liens">
                <div class="ReseauxSociaux">
                    <div></div>
                    <div class="fb"><a href="">Facebook</a></div>
                    <div class="twitter"><a href="">X</a></div>
                    <div class="git"><a href="">Git</a></div>
                    <div></div>
                </div>
                <div class="adressePorteFolio">
                    <a href="">adressePorteFolio</a>
                </div>
            </div>

        </footer>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>